<div class="container">
<h2>Edit Your Profile</h2>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="user_first_name">First</label>
    <div class="controls">
      <input autofocus="autofocus" type="text" id="user_first_name" name="user[first_name]" value=<%=current_user.first_name%>>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="user_last_name">Last</label>
    <div class="controls">
      <input autofocus="autofocus" type="text" id="user_last_name" name="user[last_name]" value=<%=current_user.last_name%>>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="user_email">Email</label>
    <div class="controls">
      <input autofocus="autofocus" type="email" id="user_email" name="user[email]" value=<%=current_user.email%>>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="user_track">Track</label>
    <div class="controls">
      <select id="user_track" name="user[track]">
        <option value="Sales">Sales</option>
        <option value="Technical Marketing">Technical Marketing</option>
        <option value="Product and Design">Product and Design</option>
        <option value="Web Development">Web Development</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %>
  <%= f.text_field :first_name, autofocus: true %></div>

  <div><%= f.label :last_name %>
  <%= f.text_field :last_name, autofocus: true %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :track %>
  <%= f.select :track, [['Product and Design','Product and Design'],['Sales','Sales'],['Technical Marketing','Technical Marketing'],['Web Development','Web Development'],] %>

  <div><%= f.label :photo %>
  <%= f.file_field :photo, :class => 'file_field' %>

  <p></p>
  <p></p>


  <div><%= f.label :current_password %>
    <%= f.password_field :current_password, :placeholder => "Required to save changes", autocomplete: "off" %></div>

  <div><%= f.label :new_password %> 
    <%= f.password_field :password, :placeholder => "Leave blank if not changing", autocomplete: "off" %></div>

  <div><%= f.label :new_password_confirmation %>
    <%= f.password_field :password_confirmation, :placeholder => "Leave blank if not changing", autocomplete: "off" %></div>
  <p></p>

  <div><%= f.submit "Update" %></div>
  <div><%= link_to "Home", users_path %></div>
<% end %>

</div>
