<%- model_class = User -%>

<!-- http://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div -->
<!-- http://cheatsheetworld.com/programming/html5-canvas-cheat-sheet/ -->

<div class="row">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px; margin: auto">
    <ul class="thumbnails">
    <% @users.order(:last_name).each do |user| %>
      <% if user.role != "guest" || current_user.present? && current_user.role == "admin" %>
      
      <div class="span2" style="margin: 0px">
        <div class="span2-thumb" style="margin: 0px">
        <img src=<%= user.photo_url(:thumb).to_s %> width="150px" onerror="imgError(this);" style="background-color: white; margin: 10px; border: 2px white solid" />
        </div>

        <div class="span2-thumb hidden" style="margin: 0px; position: relative; z-index: 0">
        <img src=<%= user.photo_url(:thumb).to_s %> width="150px" onerror="imgError(this);" style="background-color: white; margin: 10px; border: 2px white solid" />
        </div>

        <div class="span2-info hidden" style="position: relative; margin-left: -200px; margin-top: 10px">
          <div class="thumbnail" style="background-color: white; width: 320px; z-index:1; position: absolute" >
            <img src=<%= user.photo_url(:thumb).to_s %> onerror="imgError(this);" align="left" width="150px" style="background-color: grey; margin-right: 10px; display: inline-block" />
            <div style="display: inline-block; width: 150px; margin: 0px">
            <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
            <p><i><%= user.top_superlatives[0] %></i></p>
            <p><span class="badge badge-info"><%= user.max_votes %>  Votes</span>  <a href=<%= user_path(user) %> class="btn btn-success" role="button">Vote!</a></p>
            </div>
          </div>
        </div>


      </div>

      <% end %>
    <% end %>
    </ul>
  </div>
</div>


<script>
  $(function() {
      $('.span2').on('mouseenter mouseleave', function() {
          $(this).children().toggleClass('hidden');
      });
  });

// trying to fix broken images
// http://stackoverflow.com/questions/92720/jquery-javascript-to-replace-broken-images
  function imgError(image) {
    image.onerror = "";
    image.src = "http://static.tumblr.com/ijdznxs/Z24m9mk06/bssarrowblue.png";
    image.style = "background-color: white; margin: 10px; border: 2px grey solid"
    return true;
  }

  $.backstretch("https://s3.amazonaws.com/sib-superlative-app-bucket/StartupInstitutebackground4.jpg", {fade: 750, duration: 6000});
</script>