<%- model_class = User -%>


<div class="row" style="PADDING-TOP: 25px">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px">
    <% @users.order(:last_name).each do |user| %>
        <% if user.role != "guest" %>
          <a href=<%= user_path(user) %> style="PADDING-left: 35px"><img src=<%= user.photo_url(:thumb).to_s %> class="img-circle"></a>
        <% end %>
        <% if current_user.present? && current_user.role == "admin" && user.role == "guest" %>
          <a href=<%= user_path(user) %> style="PADDING-left: 35px"><img src=<%= user.photo_url(:thumb).to_s %> class="img-circle"></a>
        <% end %>
    <% end %>
  </div>
</div>




<script>
  $.backstretch("<%= asset_path 'StartupInstitutebackground2.jpg' %>", {fade: 750, duration: 6000});
</script>