<%- model_class = User -%>


<div class="row">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px">
    <ul class="thumbnails">
    <% @users.order(:last_name).each do |user| %>
      <% if user.role != "guest" || current_user.present? && current_user.role == "admin" %>
        <li class="span2">
        <a href=<%= user_path(user) %> class="thumbnail">
          <img src=<%= user.photo_url(:thumb).to_s %> alt="">
        </a>
      </li>

        <li class="span2 hidden">
          <div class="thumbnail" style="background-color: white" >
            <img src=<%= user.photo_url(:thumb).to_s %>>
            <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
            <p><i><%= user.top_superlatives[0] %></i></p>
            <p><span class="badge badge-info"><%= user.max_votes %>  Votes</span>  <a href=<%= user_path(user) %> class="btn btn-success" role="button">Vote!</a></p>
            <p></p>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>


<script>
$('.span2 p').hover(function(evt) {
    $('.span2 hidden').removeClass('hidden');
}, function (evt){
    $('.span2').addClass('hidden');
})

  $.backstretch("<%= asset_path 'StartupInstitutebackground4.jpg' %>", {fade: 750, duration: 6000});
</script>