<%- model_class = User -%>

<!-- http://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div -->
<!-- http://cheatsheetworld.com/programming/html5-canvas-cheat-sheet/ -->

<div class="row">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px">
    <ul class="thumbnails">
    <% @users.order(:last_name).each do |user| %>
      <% if user.role != "guest" || current_user.present? && current_user.role == "admin" %>
      
      <div class="span2" style="display: inline-block">
        <div class="span2-thumb">
        <img src=<%= user.photo_url(:thumb).to_s %> style="margin: 10px; border: 2px white solid">


          <div class="span2-info hidden" style="position: relative; margin-left: -10px">
            <div class="thumbnail" style="background-color: white; width: 300px; z-index:1; position: absolute" >
              <img src=<%= user.photo_url(:thumb).to_s %> align="left" style="padding-right: 10px">
              <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
              <p><i><%= user.top_superlatives[0] %></i></p>
              <p><span class="badge badge-info"><%= user.max_votes %>  Votes</span>  <a href=<%= user_path(user) %> class="btn btn-success" role="button">Vote!</a></p>
              <p></p>
            </div>
          </div>

        </div>
      </div>

      <% end %>
    <% end %>
    </ul>
  </div>
</div>


<script>
$(function() {
    $('.span2-thumb').on('mouseenter mouseleave', function() {
        $(this).children().toggleClass('hidden');
    });
});

  $.backstretch("https://s3.amazonaws.com/sib-superlative-app-bucket/StartupInstitutebackground4.jpg?X-Amz-Date=20140906T023420Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=82aca8ad1d1e46d33684ac04c60f0a63140f1428540486ca857eddb647006099&X-Amz-Credential=ASIAIURBKZSPSDFP3JKA/20140906/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzELT//////////wEakAL9%2BtUsx8EfWYRcuQ55P%2B1ugjmB2NsvYHjuvj8RJDKd7dN79ls9zFFK%2B1j4FzVq0yJC4VzOq6W0Oq5KTyJiNk9B1cQz%2BgnYd2vDkg0nqewWGEcj6m67vFMOHrZ1QRhjzvjmu5r7TZPD2LBez1Rgn7MsLVkZgywCnp/UkxUvGfweVEf28L8gsyqzbwx0L47VZeiRlKHVjR2gPeS8Z5oXpCH/rB5hSV/XW4ASMvMjGLZZuRX5fYW3RUcYC%2BZpuAFQRxFTU/ndllYFtIMoyhmRaYUDd0WUduSyOCcjYsuJ2d1bAl%2BmSIoXjgJOBE5%2BQVQKIo2%2BNINJSYlIpaloVR6Y8HAXOHTyl1orYDIck0ES/urGHyDa5KmgBQ%3D%3D", {fade: 750, duration: 6000});
</script>