<%- model_class = User -%>


<body id="index_body">
  <div id="panel">
      <% @users.order(:last_name).each do |user| %>
        <% if user.role != "guest" || current_user.present? && current_user.role == "admin" %>
          <div class="user_container">

                  <img class="photo_thumbnail" src=<%= user.photo_url(:thumb).to_s %> onerror="imgError(this);"/>

                  <div class="photo_infobox">
                        <img class="popup_photo" src=<%= user.photo_url(:thumb).to_s %> onerror="imgError(this);"/>
                        <div class="popup_content">
                            <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
                            <p><i><%= user.top_superlatives[0] %></i></p>
                            <p><span class="badge badge-info"><%= user.max_votes %>  Votes</span>  
                            <a href=<%= user_path(user) %> class="btn btn-success" role="button">Vote!</a></p>
                        </div>
                  </div>
                  
          </div>
        <% end %>
      <% end %>
  </div>
</body>



<script>
// this creates the popup animation
  $(".user_container").mouseenter( function(){
    $(this).find(".photo_infobox").show();
  });

  $(".user_container").mouseleave( function(){
    $(this).find(".photo_infobox").hide();
  });

// trying to fix broken images
// http://stackoverflow.com/questions/92720/jquery-javascript-to-replace-broken-images
  function imgError(image) {
    image.onerror = "";
    image.src = "http://static.tumblr.com/ijdznxs/Z24m9mk06/bssarrowblue.png";
    image.style = "background-color: white; margin: 10px; border: 2px grey solid"
    return true;
  }

  $.backstretch("https://s3.amazonaws.com/sib-superlative-app-bucket/StartupInstitutebackground4.jpg", {fade: 750, duration: 6000});
</script>