<%- model_class = User -%>

<!-- http://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div -->
<!-- http://cheatsheetworld.com/programming/html5-canvas-cheat-sheet/ -->

<div class="row">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px">
    <ul class="thumbnails">
    <% @users.order(:last_name).each do |user| %>
      <% if user.role != "guest" || current_user.present? && current_user.role == "admin" %>
      
      <div class="span2" style="display: inline-block">
        <div class="span2-thumb">
        <img src=<%= user.photo_url(:thumb).to_s %> style="margin: 10px; border: 2px white solid">


          <div class="span2-info hidden" style="position: relative; margin-left: -10px">
            <div class="thumbnail" style="background-color: white; width: 300px; z-index:1; position: absolute" >
              <img src=<%= user.photo_url(:thumb).to_s %> align="left" style="padding-right: 10px">
              <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
              <p><i><%= user.top_superlatives[0] %></i></p>
              <p><span class="badge badge-info"><%= user.max_votes %>  Votes</span>  <a href=<%= user_path(user) %> class="btn btn-success" role="button">Vote!</a></p>
              <p></p>
            </div>
          </div>

        </div>
      </div>

      <% end %>
    <% end %>
    </ul>
  </div>
</div>


<script>
$(function() {
    $('.span2-thumb').on('mouseenter mouseleave', function() {
        $(this).children().toggleClass('hidden');
    });
});

  $.backstretch("<%= asset_path 'StartupInstitutebackground4.jpg' %>", {fade: 750, duration: 6000});
</script>