<%- model_class = User -%>


<div class="row">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px">
    <ul class="thumbnails">
    <% @users.order(:last_name).each do |user| %>
      <li class="span2">
        <div class="thumbnail"style="background-color: white" >
          <img src=<%= user.photo_url(:thumb).to_s %>>
          <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
          <p><i><%= user.top_superlatives[0] %></i></p>
          <p>
            <a href=<%= user_path(user) %> class="btn btn-success" role="button">Vote!</a> 
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>


<script>
  $.backstretch("<%= asset_path 'StartupInstitutebackground4.jpg' %>", {fade: 750, duration: 6000});
</script>