<%- model_class = User -%>

<!-- http://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div -->

<div class="row">
  <div class="row12" style="PADDING-left: 100px; PADDING-right: 100px; PADDING-TOP: 35px">
    <ul class="thumbnails">
    <% @users.order(:last_name).each do |user| %>
      <% if user.role != "guest" || current_user.present? && current_user.role == "admin" %>
      
      <li class="span2-thumb">
        <a href=<%= user_path(user) %> class="thumbnail">
          <img src=<%= user.photo_url(:thumb).to_s %>>
        </a>

        <div class="span2-info hidden">
          <div class="thumbnail" style="background-color: white; width: 300px; z-index:1; position: absolute" >
            <img src=<%= user.photo_url(:thumb).to_s %>>
            <h4><%= "#{user.first_name} #{user.last_name}" %></h4>
            <p><i><%= user.top_superlatives[0] %></i></p>
            <p><span class="badge badge-info"><%= user.max_votes %>  Votes</span>  <a href=<%= user_path(user) %> class="btn btn-success" role="button">Vote!</a></p>
            <p></p>
          </div>
        </div>
      </li>

      <% end %>
    <% end %>
    </ul>
  </div>
</div>


<script>
$(function() {
    $('.span2-thumb').on('mouseenter mouseleave', function() {
        $(this).children().toggleClass('hidden');
    });
});

  $.backstretch("<%= asset_path 'StartupInstitutebackground4.jpg' %>", {fade: 750, duration: 6000});
</script>