<%- model_class = User -%>

<%= image_tag @user.photo_url(:masthead).to_s %>

<h2><%= "#{@user.first_name}'s Superlatives" %></h2>

<% if @user.titles.present? == false %>
  <p> No superlatives have been suggested yet! </p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= "Superlative" %></th>
        <th><%= "Votes" %></th>
        <th><%= "Actions" %></th>
      </tr>
    </thead>
    <tbody>
      <% @user.titles.each do |title| %>
        <tr>
          <td><%= title.content %></td>
          <td><%= title.votes.count %></td>

          <!-- if the current user hasn't favorited any of @user's superlatives -->
          <% if !(current_user.favorite_superlatives.where(user_id: @user.id).present?) %>
            <td><%= link_to "Favorite!", favorite_user_title_path(@user.id, title.id), 
                              :class => 'btn btn-success', :method => 'POST' %></td>
          <% else %>
          <!-- if the current user HAS favorited one of @user's superlatives -->
              <!-- and the superlative the current user favorited was this one -->
              <% if (current_user.favorite_superlatives.where(user_id: @user.id).find_by_id(title.id).present?) %>
                <td><%= link_to "Unfavorite!", unfavorite_user_title_path(@user.id, title.id), 
                                  :class => 'btn btn-warning', :method => 'POST' %></td>
              <!-- and the superlative the current user favorited was NOT this one -->
              <% else %>
                <td></td>
              <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_user == @user %>
<h5>(Hint: You can't suggest superlatives for yourself)</h5>
<% end %>

<div class="form-actions">
<% if !(current_user == @user) %>
	  <%= link_to t('Suggest New Superlative'), new_user_title_path(@user.id), :class => 'btn btn-primary' %>
<% end %>
<%= link_to t('Home'), root_path, :class => 'btn' %>
</div>
