<%- model_class = User -%>
<div class="row">
  <div class="span2.5">
    <img src=<%= @user.photo_url(:masthead).to_s %> onerror="imgError(this);" class="img-circle">
  </div>
  <div class="span9.5">
    <h2><%= "#{@user.first_name}'s Superlatives" %></h2>
    <% if @user.titles.present? == false %>
      <p> No superlatives have been suggested yet! </p>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= "Superlative" %></th>
            <th><%= "Votes" %></th>

            <% if current_user.role == "admin" %>
              <th><%= "Suggested by" %></th>
              <th><%= "Favorited by" %></th>
            <% end %>

            <th><%= "Actions" %></th>
          </tr>
        </thead>
        <tbody>
          <% @user.ranked_superlatives.each do |title| %>
            <tr>
              <td><%= title[1] %></td>
              <td><%= title[0] %></td>

              
              <% if current_user.role == "admin" %>
                <td><%= "#{User.find_by_id(Title.find_by_id(title[2]).created_by).first_name} #{User.find_by_id(Title.find_by_id(title[2]).created_by).last_name}" %>
                </td>
                <td>
                  <% Title.find_by_id(title[2]).votes.each do |user| %>
                    <%= "#{user.first_name} #{user.last_name}, " %>
                  <% end %>
                </td>
              <% end %>

              <!-- if the current user hasn't favorited any of @user's superlatives -->
              <% if !(current_user.favorite_superlatives.where(user_id: @user.id).present?) %>
                <td><a class="btn btn-success" data-method="POST" href=<%= favorite_user_title_path(@user.id, title[2]) %> >
                       <i class="icon-arrow-up icon-white"></i> Favorite</a></td>
              <% else %>
              <!-- if the current user HAS favorited one of @user's superlatives -->
                  <!-- and the superlative the current user favorited was this one -->
                  <% if (current_user.favorite_superlatives.where(user_id: @user.id).find_by_id(title[2]).present?) %>
                    <td><a class="btn btn-warning" data-method="POST" href=<%= unfavorite_user_title_path(@user.id, title[2]) %> >
                       <i class="icon-arrow-down icon-white"></i> Unfavorite</a></td>

                  <!-- and the superlative the current user favorited was NOT this one -->
                  <% else %>
                    <td></td>
                  <% end %>
              <% end %>
              <% if current_user.role == "admin" %>
                 <td><%= link_to "Admin Delete", user_title_path(@user.id, title[2]), 
                                      :class => 'btn btn-danger', :method => 'DELETE' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if current_user == @user %>
    <h5><i>(Hint: You can't suggest superlatives for yourself, though you can vote for one of your superlatives)</i></h5>
    <% end %>

    <div class="form-actions">
    <% if !(current_user == @user) %>
    	  <%= link_to t('Suggest New Superlative'), new_user_title_path(@user.id), :class => 'btn btn-primary' %>
    <% end %>
      <a class="btn" href=<%= users_path %> ><i class="icon-home"></i> Home</a>
    </div>
  </div>
</div>

<script>
// trying to fix broken images
// http://stackoverflow.com/questions/92720/jquery-javascript-to-replace-broken-images
  function imgError(image) {
    image.onerror = "";
    image.src = "http://static.tumblr.com/ijdznxs/Z24m9mk06/bssarrowblue.png";
    image.style = "background-color: white; margin: 10px; border: 2px grey solid"
    return true;
  }
</script>
