<h2><%= "Suggest New Superlative for #{@user.first_name}" %></h2>


<% if @title.errors.any? %>
<div class="well" style="width: 500px">
    <div id="error_explanation">
      <i><h5><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h5></i>

      <ul>
      <% @title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   </div>
 <% end %>


<%= form_for [@user,@title] do |f| %>
    <%= f.text_area :content, :placeholder => "Most likely to...", :class => 'text_field', :style => 'width: 400px'%>
    <p></p>
    <%= f.submit("Suggest!", :class => 'btn btn-primary') %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_path(@user), :class => 'btn' %>
  </div>
<% end %>




