<div class="container">
	<h2>Sign in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div><%= f.email_field :email, autofocus: true, placeholder: "Email" %></div>

	  <div><%= f.password_field :password, autocomplete: "off", placeholder: "Password" %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> Remember me?</div>
	  <% end -%>

	  <div style="padding-top: 10px">
	    <%= f.submit "Sign in", :class => "btn btn-primary" %> 
	    <a href=<%= users_path %> class="btn" role="button"><i class="icon-home"></i> Home</a>
	    <a href=<%= new_user_registration_path %> class="btn" role="button"><i class="icon-user"></i> Sign up</a>
	  </div>

	<% end %>

</div>
